.t-3 {
    margin-top: 30px;
}
.media h4 {
    font-weight: bold;
    padding: 0 15px;
}
.media-heading {
    color: #2a5d84;
}
.media-body h4 a {
    color: #2a5d84;
}
.media p {
    color: #666;
    font-size: 16px;
    line-height: 28px;
    padding-left: 15px;
    padding-right: 15px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #999;
    font-weight: normal;
}
.news-zw {
    font-size: 16px;
    line-height: 30px;
    padding: 0 50px;
}