body{
	background: #E6E9ED;
}


/*主要内容*/
.amap-toolbar{
	position: fixed;top: 150px;left: 50px;
}

/*底部*/
.footer{
	height: 200px;width: 100%;background: #E6E9ED;position: absolute;top: 708px;left: 0;
}
.foot-center{
	height: 100px;width: 940px;padding: 0 15px;padding-top: 50px;
}
.foot-nav{
	height: 40px;width: 550px;float: left;margin-top: 10px;
}
.foot-nav li{
	height: 20px;float: left;margin: 0 35px 0 20px;
}
.foot-nav li a{
	color: #AAB2BD;font-size: 16px;
}
.foot-nav li a:hover{
	text-decoration: underline;
}
.foot-right{
	height: 58px;width: 220px;float: right;
}
.foot-right a{
	display: block;float: left;height: 44px;width: 44px;margin-right: 24px;position: relative;
}
.foot-right a img{
	height: 112px;width: 112px;position: absolute;bottom: 54px;left: -28px;display: none;opacity: 0.2;
}
.foot-banquan{
	height: 20px;width: 100%;padding: 15px 0;background: #4855A3;
}
.foot-banquan p{
	color: #B3B7D4;font-size: 14px;text-align: center;
}