	<div class="footer"><!--底部开始-->
		<div class="foot-center">
			<ul class="foot-nav">
				<li><a href="{APP_PATH}?m=content&c=index&a=lists&catid=29">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a target="_blank" href="http://e.weibo.com/che08">官方微博</a></li>
				<li><a href="#">法律说明</a></li>
			</ul>
			<div class="foot-right">
				<a href="##" style="background: url({IMG_PATH}myimg/icon2.png) no-repeat -44px 0;">
					<img src="{IMG_PATH}myimg/weibo.png" alt="微博">
				</a>
				<a href="##" style="background: url({IMG_PATH}myimg/icon2.png) no-repeat 0 0;">
					<img src="{IMG_PATH}myimg/weixin.png" alt="微信">
				</a>
				<a href="##" style="background: url({IMG_PATH}myimg/icon2.png) no-repeat -88px 0;"></a>
			</div>
		</div>
		<div class="foot-banquan">
			<p>上市公司成员企业 北京车网互联科技有限公司 车网互联版权所有 京ICP备10024066号
			</p>
		</div>
	</div><!--底部结束-->
</body>
</html>