{template "content","header2"}
<link rel="stylesheet" href="{CSS_PATH}mycss/zhichengshipei.css">

<div class="main-container"><!--适配列表开始-->
    <div class="containerbox">
        <div class="containerbox1">
            <div class="container1">
                <div class="car-logo">
                    <i class="logo-one"></i>
                </div>
                <div class="car-list">
                    <div class="row-top">
                        <div class="row-top-left">
                            <ul>
                                <li style="margin-top:0;">速腾</li>
                                <li>途安</li>
                                <li>途观</li>
                                <li>迈腾</li>
                                <li>夏朗</li>
                                <li>R36</li>
                            </ul>
                        </div>
                        <div class="row-top-right">
                            <ul>
                                <li style="margin-top:0;">新帕萨特</li>
                                <li>新桑塔纳</li>
                                <li>大众cc</li>
                                <li>新捷达</li>
                                <li>高尔夫6</li>
                                <li>高尔夫7</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-middle">
                        <ul>
                            <li style="margin-top:0;">2008款以后 宝来</li>
                            <li>2008款以后 郎逸</li>
                            <li>2008款以后 POLO</li>
                        </ul>
                    </div>
                    <div class="row-bottom">
                        <ul>
                            <li style="margin-top:0;">途观进口版</li>
                            <li>迈腾进口版</li>
                            <li>高尔夫进口版</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerbox1">
            <div class="container1">
                <div class="car-logo">
                    <i class="logo-one"></i>
                </div>
                <div class="car-list">
                    <div class="row-top">
                        <ul class="list">
                            <li style="margin-top:0;">速派</li>
                            <li>明锐</li>
                            <li>昊锐</li>
                            <li>昕锐</li>
                            <li>野帝</li>
                        </ul>
                    </div>
                    <div class="row-bottom">
                        <ul>
                            <li style="margin-top:0;">2008款以后 晶锐
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="containerbox1">
            <div class="container1">
                <div class="car-logo">
                    <i class="logo-three"></i>
                </div>
                <div class="car-list">
                    <div class="row-top">
                        <ul class="list">
                            <li style="margin-top:0;">翼博</li>
                            <li>翼虎</li>
                            <li>嘉年华</li>
                            <li>新福克斯</li>
                            <li>新蒙迪欧</li>
                            <li>经典福克斯1.8</li>
                        </ul>
                    </div>
                    <div class="row-bottom">
                        <ul>
                            <li style="margin-top:0;">2010款以后 致胜
                            </li>
                            <li>2008款以后 S-MAX</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>不支持自带一键启动车型</p>
</div><!--适配列表结束-->

{template "content","footer2"}