{template "content","header"}
<!-- banner开始 -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousel-example-generic"></li>
        <li class="" data-slide-to="1" data-target="#carousel-example-generic"></li>
        <li class="" data-slide-to="2" data-target="#carousel-example-generic"></li>
        <li class="" data-slide-to="3" data-target="#carousel-example-generic"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="#">
                <img src="{IMG_PATH}myimg/index/banner-02.jpg">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="{IMG_PATH}myimg/index/chediantong.jpg">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="{IMG_PATH}myimg/index/yangchibao.jpg">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#">
                <img src="{IMG_PATH}myimg/index/banner-01.jpg">
            </a>
        </div>
    </div>
    <a class="left carousel-control" data-slide="prev" role="button" href="#carousel-example-generic">
        <span class="glyphicon glyphicon-menu-left ie8-left"></span>
    </a>
    <a class="right carousel-control" data-slide="next" role="button" href="#carousel-example-generic">
        <span class="glyphicon glyphicon-menu-right ie8-right"></span>
    </a>
</div>
<!-- banner结束 -->
<!-- 车网互联开始 -->
<div class="container text-center t-7">
    <h1>车网互联 </h1>
    <h4 class="t-2">以移动互联网技术创造用户新体验</h4>
    <h4>致力于成为车网产业先行者，打造智能交通新秩序，为推动移动信息产业与智能城市的发展而不懈努力！   </h4>
    <p class="t-2">
        <a class="btn btn-success btn-lg" href="#">CARSMART</a><!-- 按钮 -->
    </p>
    <div class="row t-4 col-md-10 col-md-offset-1">
        <!-- 栅格系统 .col-md col-lg分别是中等屏幕和大屏幕的类前缀 必须放在row里面 -->
        <div class="col-lg-3 col-xs-6 c1">
            <img alt="车辆软硬件" src="{IMG_PATH}myimg/index/icon01.png">
            <h4>车辆软硬件</h4>
        </div>
        <div class="col-lg-3 col-xs-6 c2">
            <img alt="移动终端软件" src="{IMG_PATH}myimg/index/icon02.png">
            <h4>移动终端软件</h4>
        </div>
        <div class="col-lg-3 col-xs-6 c3">
            <img alt="互联网应用" src="{IMG_PATH}myimg/index/icon03.png">
            <h4>互联网应用</h4>
        </div>
        <div class="col-lg-3 col-xs-6 c4">
            <img alt="行业应用平台" src="{IMG_PATH}myimg/index/icon04.png">
            <h4>行业应用平台</h4>
        </div>
    </div>
</div>
<!-- 车网互联结束 -->
<!-- 新闻中心开始 -->
<div class="container-fluid news-bg">
    <!-- .container-fluid （100% 宽度） .container固定宽度-->
    <div class="container text-center">
        <h1>新闻中心</h1>
        <h4 class="t-2">与您分享车网互联的最新动态</h4>
        <div class="row text-left t-5">
            <div class="col-lg-4 col-md-12">
                <h3><a class="h3" href="#">公司动态</a></h3>
                <ul class="li-line news">
                    <li><a title="2015车联网高峰论坛完美落幕：车网互联引导车联网行业革命" target="_blank" href="#">2015车联网高峰论坛完美落幕：车网互联引导……</a></li>
                    <li><a title="【福利预报】车联网生态圈落地，车网互联领跑汽车后市场" target="_blank" href="#">【福利预报】车联网生态圈落地，车网互联领…… </a></li>
                    <li><a target="_blank" href="#">网互联携手中国人寿财险试水UBI保险模式</a></li>
                    <li><a title="【专访】车网互联张春辉：乐乘盒子是实现智慧城市的重要一环" target="_blank" href="#">【专访】车网互联张春辉：乐乘盒子是实现智……</a></li>
                    <li><a target="_blank" title="程飞再创佳绩：荣获“国际汽联(FIA)2014世界耐力锦标赛WEC巴林站季军”！" href="#">程飞再创佳绩：荣获"国际汽联(FIA)2014世界……</a></li>
                </ul>
                <a class="btn btn-success news-dw" href="#">更多</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <h3><a class="h3" href="#">员工天地</a></h3>
                <ul class="li-line">
                    <li><a target="_blank" href="#">车网好照片摄影大赛第二季•盛大启程</a></li>
                    <li><a target="_blank" href="#">第一届•车网互联杯足球邀请赛第二场比赛</a></li>
                    <li><a target="_blank" href="#">第一届•车网互联杯足球邀请赛大幕拉开</a></li>
                    <li><a target="_blank" href="#">面向业务需求，开展大数据应用培训</a></li>
                    <li><a target="_blank" href="#">“宣扬部门精神，凝聚企业文化”</a></li>
                </ul>
                <a class="btn btn-success news-dw" href="#">更多</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <h3><a class="h3" href="#">专题报道</a></h3>
                <ul class="li-line">
                    <li><a target="_blank" href="#">车网互联创新科技 驾驭未来汽车生活</a></li>
                    <li><a title="车网互联祝贺“乐乘盒子”代言人程飞先生亚洲勒芒上海站再夺冠军！" target="_blank" href="#">车网互联祝贺“乐乘盒子”代言人程飞先生……</a></li>
                    <li><a target="_blank" href="#">车网互联圆满完成科博会的首次亮相</a></li>
                    <li><a target="_blank" href="#">车网互联携手荣之联首次亮相北京科博会</a></li>
                    <li><a target="_blank" href="#">可管、可控、可运营的电信级业务平台</a></li>
                </ul>
                <a class="btn btn-success news-dw" href="#">更多</a>
            </div>
        </div>
    </div>
</div>
<!-- 新闻中心结束 -->
<!-- 投招标公告开始 -->
<div class="container text-center t-7">
    <h1>招投标公告</h1>
    <h4 class="t-2">为了美好未来，我们一直在努力！</h4>
    <div class="row t-6">
        <div class="col-lg-7 col-xs-12 text-left">
            <h3 id="zbgg">公告通知</h3>
            <ul class="list-unstyled li-zb">
                <li>
                    <span>2014-07-11</span>
                    <s>公告通知</s>
                    <a target="_blank" href="#">
                        <strong>车网互联“L”项目招标补贴公告</strong></a>
                </li>
                <li>
                    <span>2014-06-17</span>
                    <s>中标公告</s>
                    <a target="_blank" href="#">车网互联 L 项目公关公司技术标评标结果通知函</a>
                </li>
                <li>
                    <span>2014-05-15</span>
                    <u>公告通知</u>
                    <a target="_blank" href="#">北京车网互联科技有限公司公关公司招标书</a>
                </li>
                <li>
                    <span>2014-02-28</span>
                    <s>中标公告</s>
                    <a target="_blank" href="#">车网互联视频物料制作中标公告</a>
                </li>
                <li>
                    <span>2014-02-20</span>
                    <u>公告通知</u>
                    <a target="_blank" href="#">车网互联视频物料制作招标书</a>
                </li>
                <li>
                    <span>2013-10-30</span>
                    <s>中标公告</s>
                    <a target="_blank" href="#">车网互联VI物料制作中标公告</a>
                </li>
                <li>
                    <span>2013-10-23</span>
                    <u>公告通知</u>
                    <a target="_blank" href="#">车网互联VI物料制作招标书</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-xs-12">
            <img class=" img-responsive pull-right" src="{IMG_PATH}myimg/index/zbimg.jpg">
        </div>
    </div>
</div>
</div>
<!-- 投招标公告结束 -->
{template "content","footer"}
