{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}mycss/solutions.css">
<div class="carousel-inner about-bg" role="listbox">
    <div class="item active">
        <img src="{IMG_PATH}myimg/solutions/default-bg.jpg">
        <div class="carousel-nav">
            <h1 class="pull-left">{$catname}</h1>
            <div class="nav nav-tabs pull-right nav-bg-dw" role="tablist">
                {pc:content action="category" catid="10" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $r}
                <li {if $catid==$r[catid]} class="active" {/if} role="presentation">
                    <a href="{$r[url]}">{$r[catname]}</a>
                </li>
                {/loop}
                {/pc}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-10 col-md-offset-1">
        <div class="row t-2 about">
            <div class="col-lg-12">
                {pc:content action="lists" moreinfo="1" catid="$catid" num="25" siteid="$siteid" order="listorder ASC"}
                {loop $data $v}
                <h3 class="text-center">{$v[title]}</h3>
                <hr>
                {$v[content]}
                {/loop}
                {/pc}
            </div>
        </div>
    </div>
</div>
{template "content","footer"}